extends layout

block content
    if user
        .intro
            include ./navbar
            include ./player
            include ./footer
        script(type="text/javascript" src="/js/service.js")
        script(type="text/javascript" src="/js/main.js")
    else
        .login-intro
            include ./navbar
            include ./frontpage
            include ./footer
