doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/vendor/mediaelement/mediaelementplayer.css')
    link(rel='stylesheet', href='/vendor/mediaelement/mep-feature-playlist.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/mediaelement/mediaelement-and-player.min.js")
    script(src="/vendor/mediaelement/mep-feature-playlist.js")
    script(src="/vendor/bootstrap/js/bootstrap.js")
    script(src="/vendor/mustache/mustache.js")
  body
    block content
