.container
        div(class="panel panel-default")
            div(class="panel-heading")
                div(class="row")
                    ul(class="users-online nav navbar-nav")
            div(class="panel-body")
                div(class="col-md-6")
                    div(class="panel panel-default")
                        div(class="panel-heading")
                            div(class="player-title")
                        div(class="panel-body")
                            audio(id="player" src="." type="audio/mp3")
                    div(class="panel panel-default")
                        div(class="panel-heading")
                            h3(class="panel-title") Общий плейлист
                        div(class="panel-body")

                div(class="col-md-6")
                    div(class="panel panel-default")
                        div(class="panel-heading")
                            h3(class="panel-title") Мои Аудиозаписи
                        div(class="panel-body")
                                #audiolist
